@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Inter&family=Montserrat:wght@800&family=Roboto&family=Teko:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1517;
    color: #FFFFFF;
}

html {
    font-family: inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    color: rgba(255, 242, 231, 0.50);
}

.github {
    color: #FFF2E7;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    padding: auto;
}

.principal {
    background: #181012;
    display: flex;
    gap: 0.65rem;
    align-items: center;
    width: auto;
}

.hero {
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque {
    font-family: Epilogue;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.marrom {
    color: #A45A49;
}
.amarelo {
    color: #E7A80E;
}

h1 {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 120%;
}

hr {
    border-color: #A45A49;
}

.hero-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container {
    max-width: 50%;
    column-count: 4;
}

.hero-imagens-container > figure > img {
    width: 110%;
    border-radius: 1.25rem;
    column-gap: 2rem;
    margin: 0rem;
}

.botao-container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50%");
}

button {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #A45A49;
}

.receitas {
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.receitas-container {
    padding: 0rem 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content:space-between;
    max-width: none;
    
}

.card-receita {
    background: #241A1C;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
    flex: 1 0 0;
}

.receitas-card-cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.detalhes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.avaliacao{
    align-self: stretch;

    color: #C7BAB3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
 }

 .nome-do-autor {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
 }

 .receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
 }

 .receita-autor > img {
    border-radius: 20rem;
    width: 3rem;
 }

 footer {
    background: #23181A;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
 }

 .copy-footer {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
 }

 .copy-autor{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
 }
